apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
data:
  log.level: debug
  registries.conf: |
    registries:
      - name: dockerhub
        prefix: docker.io
        api_url: https://registry-1.docker.io
        default: true
        defaultns: library
        credentials: pullsecret:argocd/dockerhub-secret
